footer {
  background-color: #570047;
    border-top: 1px solid #8a0071;
    text-align: center;
    clear: both;
    height: 290px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Paris2024';

}

.logos{
  display: flex;
  gap: 2vh;
}

.logos p {
  font-weight: 700;
  font-size: 22px;
  text-transform: uppercase;
  line-height: 10px;
  max-width: 20px;
  line-height: 25px;
}

.main-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;

}
footer ul li{
  padding: 0px 5px;
  width: 100%;
  margin: auto;
}


.right-dash{
  border-right: 1px solid white;

}